/* <link rel="stylesheet" href="css/opmaak.css" type="text/css"> */

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

body {
  background-image: url("achtergrond.png");
  background-repeat: repeat;
  background-attachment: fixed;
}
.title {
  color: #90EE90;
  margin-top:50px;
  font-size:350%;
  font-family: 'Oleo Script Swash Caps';
}

.page {
  font-family:Arial, Helvetica, sans-serif;
}
.text, .title {
  text-align:center;
}
.text {
  font-size:125%;
  color: yellow;
}
.nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav li {
  float: left;
  margin-left:70px;
  font-size:180%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
}
@keyframes menuhover {
  0% {
    text-shadow:none;
  }
  100% {
    text-shadow:4px 4px black;
  }
}
#eli {
  margin-left:0px;
}
li:hover {
  animation-name:menuhover;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}
.levels a {
  font-size:200%;
  padding:20px;
}
.levels {
  text-align:center;
  padding:15px;
  color:white;
}
.modules p {
  text-align:center;
  font-size:150%;
  color: white;
}
